.wrapper {
    height: 76.7px;
    margin-bottom: 2px;
    background-color: #fff;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,15%);
    position: fixed;
    right: 0;
    left: 250px;
    z-index: 3;
}

.header-right { 
    float: right;
    width: 202px;
    line-height: 76.7px;
}

.header-right ul { 
    display: flex;
    flex-wrap: wrap;
}

.search-btn, .plus-btn, .bell-btn, .power-off-btn {
    border: none;
    width: 0;
    margin-right: 35px;
}

.search-icon, .plus-icon, .bell-icon, .power-off-icon {
    font-size: 16px;
    color: #616e80;
}

button {
    background-color: transparent;
}

/* .header-right ul li .dropdown-toggle::after {
    content: none;
} */

/* .header-right ul li .dropdown-toggle {
    background-color: #fff;
    color: #99A5B5;
    border: 1px solid #99A5B5;
}

.header-right ul li .dropdown-toggle:hover{
    color: #000;
    border: 1px solid #99A5B5;
} */