@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
    --primary: #171f29;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
	text-decoration: none;
}

html {
    font-size: 62.5%;
}

body, button {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}