.wrapper {
    background-color: #f2f4f7;
    height: 823px;
    padding-left: 40px;
    padding-top: 76.7px;
}
.page-name {
    line-height: 1.17;
    font-size: 18px;
    color: #28313c;
    font-weight: 700;
    padding-top: 20px;
}
.msg-header {
    height: 62px;
    border: 1px solid #a1a4a7; /*Thêm khung viền */
    align-items: center;
    padding: 10px 20px;
}
.search {
    margin-top: 10px;
    padding-top: 10px;
}

.msg-header-right {
    height: 62px;
    border: 1px solid #a1a4a7; /*Thêm khung viền */
}

.msg-name {
    float: left;
    font-size: 15px;
    font-weight: 800;
    color: #0b0b0b;
    line-height: 24px;
    padding-top: 15px;
    padding-left: 20px;
}
.button {
    float: right;
    margin-right: 15px;
}
.add-btn {
    background-color: #1d82f5;
    padding: 8px 6px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
}
.add-btn:hover {
    background-color: #000;
}

.plus-icon {
    margin-right: 6px;
}
