.wrapper {
    background-color: #f2f4f7;
    padding-left: 40px;
    padding-top: 76.7px;
    padding-bottom: 10px;
    min-height: calc(100vh - 0px);
}
.page-name {
    line-height: 1.17;
    font-size: 18px;
    color: #28313c;
    font-weight: 700;
    padding-top: 20px;
    margin-bottom: 20px;

}

.add-btn {
    background-color: #1d82f5;
    padding: 8px 6px;
    margin-right: 200px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
}

.table-actions {
    display: flex;
    flex-wrap: wrap;
}

.add-btn:hover {
    background-color: #000;
}

.plus-icon {
    margin-right: 6px;
}

.inner {
    margin: 30px 40px 30px 0;
}