.elements {
    padding: 20px;
    box-shadow: 0 0 4px 0 #e8eef3;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    display: flex;
    border-radius: 0.25rem;
    margin-bottom: 40px;
}

.block-title {
    text-transform: capitalize;
    display: block;
}

.title {
    font-size: 15px;
    color: #4d4f5c;
    margin-bottom: 20px;
    font-weight: 800;
}

.col-4 {
    flex: 0 0 25%;
    max-width: 30%;
    margin-bottom: 1rem;
    margin-left: 60px;
}

.number {
    color: inherit;
    font-weight: 800;
}

.icon {
    color: #99A5B5;
}