.search-group {
    border: solid 1px #acaeae;
    border-radius: 4px;
    padding: 5px;
    width: 80%;
    background-color: #fff;
}
.Search-icon {
    display: flex;
}
.icon {
    color: #99A5B5;
}

.search-input {
    display: flex;
}
.input {
    width: 90%;
    margin-left: 8px;
    border: 0rem;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    align-items: stretch;
}