.search {
    margin-bottom: 20px;
    position: absolute;
    top: 138px;
    left: 60%;
}

.table-ui {
    padding: 5px 15px 15px 15px;
    background-color: #fff;
    font-size: 14px;
    border-radius: 4px;
    position: relative;
}

.table-ui tbody tr td p{
    padding: 5px;
    line-height: 28px;
}

.previousPage {
    position: absolute;
    right: 62px;
    border-radius: 4px;
    border: 1px solid #e8eef3;
    font-size: 14px;
    color: #4d4f5c;
    height: 35px;
} 

.nextPage {
    position: absolute;
    right: 15px;
    border-radius: 4px;
    border: 1px solid #e8eef3;
    font-size: 14px;
    color: #4d4f5c;
    height: 35px;
} 

.previousPage:hover, .nextPage:hover {
    background-color: #dee2e6;
}

:disabled:hover {
    background-color: #fff;
}

.pagination {
    padding-top: 4px;
}

.pagination span {
    line-height: 35px;
}



